.closeButton {
  width: 100%;
}
.ruleModal {
  position: fixed;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  border: 0;
  border-radius: 1em;
  max-width: 900px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  max-height: 100dvh;
  overflow-y: visible;

  & > div {
    /*table rule container*/
    overflow: auto;
    max-height: 85dvh;
  }
}
.rulesTable {
  border-collapse: separate;
  border-spacing: 0 0.6em;
  & > tbody > tr > th {
    font-weight: normal;
    text-wrap: balance;
  }

  & > tbody > tr {
    border-bottom: 2px solid;
    border-color: light-dark(#213547, rgba(255, 255, 255, 0.87));
  }
  & > tbody > tr:first-child {
    border-bottom: 0px solid;
  }
  & > tbody > tr:last-child {
    border-bottom: 0px solid;
  }
}

.rulesTable:nth-child(2) {
  margin-top: 0.5em;
}
